@using Microsoft.AspNetCore.Identity
@using MVC.Data
@using System.Security.Claims;

@model IEnumerable<Core.Models.ViewModels.UserViewModel>

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Freelancers";
}

<h2>Freelancers</h2>
@{
    Roles? userRole = null;
    if (User != null && User.Identity != null)
    {
        var claim = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier);
        User user;
        if (claim != null)
        {
            user = UserManager.FindByIdAsync(claim.Value).Result;
            userRole = user.Role;
        }
    }
}
@if (!SignInManager.IsSignedIn(User) || (userRole.HasValue && userRole == Roles.Freelancer))
{
    <h4>Login for hire freelancer!</h4>
}
<hr />
<form asp-controller="Work" asp-action="Freelancers">
    <p>
        Find by profession: <input type="text" name="s" value="@ViewData["searchText"]">
        <input type="submit" value="Filter" class="btn btn-info"/>
    </p>
</form>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionHeader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourlyRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalEarned)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescriptionHeader)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HourlyRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalEarned)
                </td>
                <td>
                    <button type="button" class="btn btn-info"> @Html.ActionLink("Details", "UserDetails", new { id = item.Id })</button>
                    |
                    @if (userRole.HasValue && userRole == Roles.Other)
                    {
                        <button type="button" class="btn btn-success">@Html.ActionLink("Hire", "ApplyHire", new { id = item.Id })</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
