
@using Microsoft.AspNetCore.Identity
@using MVC.Data
@using System.Security.Claims;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model Core.Models.BusinessModels.UserModel

@{
    ViewData["Title"] = "UserDetails";
}

@{
    Roles? userRole = null;
    if (User != null && User.Identity != null)
    {
        var claim = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier);
        User user;
        if (claim != null)
        {
            user = UserManager.FindByIdAsync(claim.Value).Result;
            userRole = user.Role;
        }
    }
}

<h2>@Html.DisplayFor(model => model.Firstname) @Html.DisplayFor(model => model.Lastname)</h2>
<div class="container">
    <div class="row">
        <div class="col-md-4" style="background-color:#b1b14f40">
            <label>@Html.DisplayNameFor(model => model.HourlyRate)</label><br />
            <p style="font-size:30px"><b>@Html.DisplayFor(model => model.HourlyRate)</b></p>
        </div>
        <div class="col-md-4" style="background-color:#755c3847">
            <label>@Html.DisplayNameFor(model => model.HoursWorked)</label><br />
            <p style="font-size:30px"><b>@Html.DisplayFor(model => model.HoursWorked)</b></p>
        </div>
        <div class="col-md-4" style="background-color:#b1b14f40">
            <label>@Html.DisplayNameFor(model => model.WorksCount)</label><br />
            <p style="font-size:30px"><b>@Html.DisplayFor(model => model.WorksCount)</b></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4" style="background-color:#755c3847">
            <label>@Html.DisplayNameFor(model => model.TimePlusUTC)</label><br />
            <p style="font-size:30px"><b>@Html.DisplayFor(model => model.TimePlusUTC)</b></p>
        </div>
        <div class="col-md-4" style="background-color:#b1b14f40">
            <label>@Html.DisplayNameFor(model => model.TotalEarned)</label><br />
            <p style="font-size:30px"><b>@Html.DisplayFor(model => model.TotalEarned)</b></p>
        </div>
        <div class="col-md-4" style="background-color:#755c3847">
            <label>@Html.DisplayNameFor(model => model.Availability)</label><br />
            <p style="font-size:30px"><b>@Html.DisplayFor(model => model.Availability)</b></p>
        </div>
    </div>
</div>
<h3>@Html.DisplayFor(model => model.DescriptionHeader)</h3>

<h4>@Html.DisplayNameFor(model => model.Phonenumber) :  @Html.DisplayFor(model => model.Phonenumber)</h4>
<p style="font-size:15px">
    @Html.DisplayFor(model => model.Description)
</p>
<div>

    @if (userRole == Roles.Other)
    {
        <button type="button" class="btn btn-success">@Html.ActionLink("Hire", "ApplyHire", new { id = Model.Id })</button>
    }

</div>

<div>
    <button type="button" class="btn btn-dark">@Html.ActionLink("Back to list", "Freelancers", new { })</button>

</div>
