
@using Microsoft.AspNetCore.Identity
@using MVC.Data
@using System.Security.Claims;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model Core.Models.BusinessModels.UserModel

@{
    ViewData["Title"] = "UserDetails";
}

@{
    Roles? userRole = null;
    if (User != null && User.Identity != null)
    {
        var claim = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier);
        User user;
        if (claim != null)
        {
            user = UserManager.FindByIdAsync(claim.Value).Result;
            userRole = user.Role;
        }
    }
}

<h2>Details</h2>

<div>

    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phonenumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phonenumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DescriptionHeader)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescriptionHeader)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HourlyRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HourlyRate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TimePlusUTC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimePlusUTC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HoursWorked)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoursWorked)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalEarned)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalEarned)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorksCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorksCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Availability)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Availability)
        </dd>
        @if (userRole == Roles.Other)
        {
            <dt></dt>
            <dd>@Html.ActionLink("Hire", "ApplyHire", new { id = Model.Id })</dd>
        }
    </dl>
</div>
<div>
    @Html.ActionLink("Back to list", "Freelancers", new { })
</div>
